@{
  Layout = "_Layout";
}
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Address Book</h1>
      <p class="lead">You can utilize this site to create an Address Book and create Contacts.</p>
    </div>
  </div>
